<header>Banking Cleric Interface</header>
<section class="searchClient">
  <div>Find Client Information</div>
  Client name: 
  <select [(ngModel)]="id">
      <option selected [ngValue]="1">Anna Smith</option>
      <option [ngValue]="2">John Daniels</option>
      <option [ngValue]="3">Karina Mackenzie</option>
  </select>
  
  <button (click)="findById()">Find Information</button>

</section>

<section class="clientInformationSection" [attr.loading]="isLoading" *ngIf="loadingId">
  <hr/>
  <span class="loadingText">Loading information for {{loadingId}}</span>
  <app-client-details [clientInfo]="clientInfo" [clientId]="loadingId" *ngIf="clientInfo"></app-client-details>
</section>